services:
  penguinskarmabot:
    build:
      context: .
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./PenguinsKarma.db:/app/PenguinsKarma.db
